.text-venus{
    color: #8f8f8f !important;
}
.text-dark{
    color:  #1a1825 !important;;

}

.text-Pastel{
    color: #0f0f0f !important;
}

.bg-dark{
    background: #1a1825 !important;
}
.bg-Pastel{
    background-color: #0f0f0f !important;
}

